.info
  background-image url('../images/sky.jpg')
  padding 60px 30px
  min-height 100vh
  +to-width(767px)
    padding-top 100px
  +to-width(640px)
    padding 40px 20px
    padding-top 80px
  +to-width(420px)
    padding-left 0
    padding-right 0
    padding-top 55px
    padding-bottom 0px

  h1
    font-size 50px
    +to-width(900px)
      font-size 38px

  .wrap
    background-color white
    padding-top 80px
    padding-bottom 40px
    border-radius 0px
    max-width 1050px
    height 100%
    +to-width(640px)
      padding-top 50px


  .content-body
    padding-left 50px
    padding-right 50px
    +to-width(1100px)
      padding-left 30px
      padding-right 30px
    +to-width(640px)
      padding-left 20px
      padding-right 20px
    +to-width(420px)
      padding-left 0
      padding-right 0

    bloquote
      margin-left 0
      margin-right 0
