.similar
  padding 60px 0
  border-bottom 7px solid #e2c38e
  background-color #f0f0f0

  &__title
    font-size 36px
    text-align center
    padding-bottom 60px

  &-body
    display flex
    flex-wrap wrap
    justify-content center
